* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: "Kanit", sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#start-page,
#quiz-page,
#alternatives,
#result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#start-page p {
  font-size: 1.5rem;
}

.title {
  font-size: 3rem;
}

button {
  background-color: rgb(85, 205, 85);
  font-size: 1.2rem;
  padding: 5px;
  width: 200px;
  height: 50px;
  border: solid 2px white;
  cursor: pointer;
}
button.alternative {
  background-color: rgb(85, 205, 85);
  font-size: 1.2rem;
  padding: 10px;
  width: 200px;
  height: auto;
  border: solid 2px white;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
}

button.alternative:hover {
  background-color: rgb(146, 232, 146);
  transition: 0.5s;
}

button.alternative {
  overflow-wrap: break-word;
}

button:hover {
  background-color: rgb(146, 232, 146);
  transition: 0.5s;
}

#next {
  display: none;
  justify-content: center;
  align-items: center;
}
#question {
  padding: 0 10px;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  #start-page p {
    font-size: 1.2rem;
  }
}
