* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: "Kanit", sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#start-page,
#quiz-page,
#alternatives,
#result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#start-page p {
  font-size: 1.5rem;
}
.title {
  font-size: 3rem;
}
.sports,
.general-knowledge,
.alternative,
#next,
#restart {
  background-color: rgb(85, 205, 85);
  font-size: 1.2rem;
  padding: 5px;
  width: 200px;
  height: 50px;
  border: solid 2px white;
}

#next {
  margin-top: 20px;
}
#alternatives,
#next {
  display: none;
}
.sports:hover,
.general-knowledge:hover,
.alternative:hover,
#next:hover {
  background-color: rgb(146, 232, 146);
  transition: 0.5s;
}
